* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/AI\ Rink\ 2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.banner-bar {
    height: 100px;
    border: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-span {
    font-weight: 400;
    font-size: 2em;
    
}

.mini-logo {
    height: 100px;
    width: 100px;
    float: left;
}

ul.navigation-links {
    list-style-type: none;
    display: flex;
    float: right;
    align-items: center;
    margin: 0px;
    justify-content: flex-end;
}


ul li {    
    display: flex;
    float: right;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding: auto;
    transition: background 0.5s;
    text-align: center;
}

ul li:hover {
    cursor: pointer;
    background-color: grey;
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: scroll;
    scrollbar-width: thin;
}
  
  ::-webkit-scrollbar-track {
    background: red; 
}
   
  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 5px;
    width: 5px;
    display: none;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: block;
}

.game-listings {
    height: 150px;
    background-color: rgb(96, 116, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.game-box {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    flex: 0 0 175px;
    margin: 0px 20px;
}

.game-box .home-row, .game-box .away-row {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 175px;
}

.game-box span {
    font-weight: bold;
    font-size: 1.1em;
}

.home-team-score, .away-team-score {
    display: inline-block;
    position: relative;
    left: 50px;
    bottom: 20px;
}

.home-team-abbrev, .away-team-abbrev {
    display: inline-block;
    position: relative;
    left: 20px;
    bottom: 20px;
}

.game-box img {
    width: 50px;
    height: 50px;
    display: inline-block;
}

/* .top-red-line {
    height: 5px;
    color: red;
    background-color: red;
} */

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 66vw;
    min-width: 50vw;
    margin: auto;
    max-height: 800px;
    
}

.standings-section {
    background-color: white;
}

.list-header {    
    min-width: 100%;
}

.cat-headings {
    display: flex;
    width: 800px;
}

.cat-headings h3 {
    display: inline-block;
}

.team-col {
    width: 40%;
}

.rank-col, .team-col, .gp-col, .wins-col, .loss-col, .ot-col, .points-col {
    min-width: 10%;
}

.team-listings-row {
    font-weight: bold;
}

.roster-section {
    background-color: aqua;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
    overflow: auto;
    width: 50%;
}

.custom-section {
    background-color: chocolate;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
    overflow: auto;
    width: 50%;
}

.player-card {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 60px;
    display: flex;
}

.player-score {
    width: 15%;
    margin: 2px;
    flex-grow: 1;
}

.player-details {
    width: 70%;
    margin: 0px;
    flex-grow: 1;
}

.player-name {
    margin: 2px;
}

.delete-card {
    width: 15%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.button-del {
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bolder;
    color: red;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.player-search {
    background-color: #888;
    padding: 5px;
    margin: 5px;
    height: 60px;
    display: flex;
}

.search-bar {
    height: 40px;
    /* margin: 5px; */
    width: 250px;
    border-radius: 5px;
}

.button-1 {
    height: 40px;
    /* width: 70px; */
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    margin: 0px 5px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease, box-shadow 0.2s ease;
}

.button-1:hover, .button-del:hover {
    background: rgba(255, 255, 255, 0.537);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

.shop-section {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.shop-item {
    width: 400px;
    height: 500px;
    background-color: white;
}

.shop-item img {
    height: 400px;
    width: 400px;
}

/* .shop-item span {

} */

.cart-section {
    background-color: white;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 250px;
    right: 0;
}

.cart-section h2 {
    text-align: center;
    width: 300px;
    height: 30px;  
}

.cart-row {
    width: 400px;
}

span.cart-item-header{
    display: inline-block;
    width: 75px;
    text-align: center;
}

span.cart-price-header {
    display: inline-block;
    width: 75px;
    text-align: center;
}

span.cart-quant-header {
    display: inline-block;
    width: 75px;
    text-align: center;
}

.cart-row img {
    height: 75px;
    width: 75px;
}

.cart-item-quantity {
    width: 50px;
    height: 30px;
}

/* .cart-row {
    width: 100%;
} */

.footer-main {
    background-color: lightgray;
    width: 100%;
    position: fixed;
    bottom: 0;    
    text-align: center;
}

.footer-main img {
    display: inline-block;
    justify-content: center;
    margin: 0 auto;
}